POSTGRES_USER="your_username"
POSTGRES_PASSWORD="your_password"
POSTGRES_DB='your_dbname'
DATABASE_URL="your_database_url_using_above_credentials_as_dynamic_values"
REDIS_URL="your_redis_url"
GROQ_API_KEY="your_groq_api_key"
OPENAI_API_KEY="your_openai_api_key"
API_KEY="your_custom_api_key"
CONFIDENCE_THRESHOLD=-1.0
RATE_LIMIT_PER_MINUTE=30
LOG_LEVEL="INFO"
